<head>
    <title>{% block title %}BBloggsbott - Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<div class='header'><a href='/' class='title_link hvr-grow'>b<span class='color_gray'>blog</span>gsbott</a></div>

<div class='spacer'></div>

{% if latest_post_list %}
    {% for post in latest_post_list %}
        <div class='box'><p><a href="{% url 'view_post' post.id %}">{{ post.post_title }}</a></p></div>    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}

